.square-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13%, 1fr));
  grid-gap: 20px;
}

.square {
  position: relative;
  /* border: 1px solid; */
  box-sizing: border-box;
}

.square::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.square .content {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
